{% load static %}
{% load get from brand_tags %}
<div class="container-filters hide-on-mobile">
    <a class="go-back">Back</a>
    <div class="filter-text hide-on-mobile">Filter Brands by <span class="primary margin-left-32">Reset</span></div>
    <button class="filter-tag border-color-unset flex align-center margin-bottom-8">Women<span
            class="margin-left-10" style="color:#E16300">x</span></button>

    <div class="margin-right-24">

        <!-- Identity -->
        {% if "identity" in category_tags %}
        <div class="filter-option height-auto margin-bottom-16">
            <div class="flex flex-item">
                <div class="width-30">
                    <div
                        class="flex justify-content-center align-center filter-picture flex-column width-90 background-grey margin-8">
                        <img class="border-radius-50" src="{% static 'img/men.png' %}" alt="Men">
                        <img class="border-radius-50" src="{% static 'img/women.png' %}" alt="Women">
                    </div>
                </div>
                <div class="margin-left-14">
                    <div class="margin-bottom-8">
                        Identity <br />
                    </div>
                    <div class="flex flex-column">
                        {% for option in category_tags|get:'identity' %}
                        <div class="flex">
                            <input type="radio" id="identity-{{ forloop.counter }}" name="identity" value="{{ option|get:'value' }}" {% if option|get:'selected' %}checked{% endif %}>
                            <label for="identity-{{ forloop.counter }}">{{ option|get:'value'|title }}</label> <br />
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Location -->
        {% if "location" in brand_tags %}
        <div class="filter-option height-auto margin-bottom-16">
            <div class="flex flex-item">
                <div class="filter-picture width-40 flex">
                    <img src="{% static 'img/india-1.png' %}" alt="India-1">
                    <img src="{% static 'img/india-2.png' %}" alt="India-2">
                </div>
                <div>
                    Location <br />
                    {% for option in brand_tags|get:'location' %}
                    <div class="flex">
                        <input type="radio" id="location-{{ forloop.counter }}" name="location" value="{{ option|get:'value' }}" {% if option|get:'selected' %}checked{% endif %}>
                        <label for="location-{{ forloop.counter }}">{{ option|get:'display_name'|title }}</label> <br />
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Price Range -->
        {% if "indicative_pricing" in brand_tags %}
        <div class="filter-option height-auto margin-bottom-16">
            <div class="flex flex-item">
                <div class="width-30">
                    <div class="flex flex-column filter-picture flex justify-content-center align-center filter-picture flex-column width-90 background-grey margin-8">
                        <img class="contrast-image" src="{% static 'img/price-1.png' %}" alt="price_1">
                        <img class="contrast-image" src="{% static 'img/price-2.png' %}" alt="price_2">
                        <img class="contrast-image" src="{% static 'img/price-3.png' %}" alt="price_3">
                    </div>
                </div>
                <div class="margin-left-14">
                    <div class="margin-bottom-8">
                        Price Range <br />
                    </div>
                    {% for option in brand_tags|get:'indicative_pricing' %}
                    <label>
                        <input type="checkbox" name="indicative_pricing" value="{{ option|get:'value' }}" {% if option|get:'selected' %}checked{% endif %}>
                        {{ option|get:'display_name'|title }}
                    </label>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Occasion -->
        {% if "occasion" in category_tags %}
        <div class="filter-option height-auto margin-bottom-16">
            <div class="flex flex-item">
                <div class="width-30">
                    <div class="flex flex-column filter-picture flex justify-content-center align-center filter-picture flex-column width-90 background-grey margin-8">
                        <img src="{% static 'img/occasion.png' %}" alt="occasion">
                    </div>

                </div>
                <div class="margin-left-14">
                    <div class="margin-bottom-8">
                        Occasion <br />
                    </div>
                    {% for option in category_tags|get:'occasion' %}
                    <label>
                        <input type="checkbox" name="occasion" value="{{ option|get:'value' }}" value="{{ option|get:'value' }}" {% if option|get:'selected' %}checked{% endif %}>
                        {{ option|get:'value'|title }}
                    </label>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Design -->
        {% if "design" in category_tags %}
        <div class="filter-option height-auto margin-bottom-16">
            <div class="flex flex-item margin-top-8">
                <div>
                    <div class="margin-bottom-8">
                        <i class="icon-design margin-right-10 margin-left-10"></i>
                        Design <br />
                    </div>
                    <div class="margin-right-10 margin-left-14 margin-bottom-12">
                        {% for option in category_tags|get:'design' %}
                        <label>
                            <input type="checkbox" name="design" value="{{ option|get:'value' }}" value="{{ option|get:'value' }}" {% if option|get:'selected' %}checked{% endif %}>
                            {{ option|get:'value'|title }}
                        </label>
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Material -->
        {% if "material" in category_tags %}
        <div class="filter-option height-auto margin-bottom-16">
            <div class="flex flex-item margin-top-8">
                <div>
                    <div class="margin-bottom-8">
                        <i class="icon-material margin-right-10 margin-left-10"></i>
                        Material <br />
                    </div>
                    <div class="margin-right-10 margin-left-14 margin-bottom-12">
                        {% for option in category_tags|get:'material' %}
                        <label>
                            <input type="checkbox" name="material" value="{{ option|get:'value' }}" {% if option|get:'selected' %}checked{% endif %}>
                            {{ option|get:'value'|title }}
                        </label>
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Type -->
        {% if "type" in category_tags %}
        <div class="filter-option height-auto margin-bottom-16">
            <div class="flex flex-item margin-top-8">
                <div>
                    <div class="margin-bottom-8">
                        <i class="icon-type margin-right-10 margin-left-10"></i>
                        Type <br />
                    </div>
                    <div class="margin-right-10 margin-left-14 margin-bottom-12">
                        {% for option in category_tags|get:'type' %}
                        <label>
                            <input type="checkbox" name="type" value="{{ option|get:'value' }}" {% if option|get:'selected' %}checked{% endif %}>
                            {{ option|get:'value'|title }}
                        </label>
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>