<div class="container-items">
    <a class="container-item {% if category.internal_name == 'clothing' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'clothing' %}">
        <i class="icon-cloth-1"></i>
        <div class="label">
            Clothing
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'footwear' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'footwear' %}">
        <i class="icon-footwear"></i>
        <div class="label">
            Footwear
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'handbags' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'handbags' %}">
        <i class="icon-handbags"></i>
        <div class="label">
            Handbags
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'jewellery' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'jewellery' %}">
        <i class="icon-jewellery"></i>
        <div class="label">
            Jewellery
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'wellness' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'wellness' %}">
        <i class="icon-handbags"></i>
        <div class="label">
            Beauty
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'gifting' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'gifting' %}">
        <i class="icon-gifting"></i>
        <div class="label">
            Gifting
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'food' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'food' %}">
        <i class="icon-health"></i>
        <div class="label">
            Health
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'pets' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'pets' %}">
        <i class="icon-pet"></i>
        <div class="label">
            Pet Supplies
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'kids' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'kids' %}">
        <i class="icon-health"></i>
        <div class="label">
            Kids
        </div>
    </a>
</div>
<div class="category-container">
    <div class="selected-category">
        <i class="icon-cloth-1 font-size-30 hide-on-mobile"></i>
        Clothing
    </div>
    <form class="search-category desktop-width">
        <i class="icon-search"></i>
        <input type="text" id="search-bar-white" placeholder="Search Brands ">
        <a href="#"></a>
    </form>

    <div class="hide-on-mobile">
        <section class="container btn-primary">
            Sort:
            <div class="dropdown">
                <select name="one" class="dropdown-select">
                    <option value="">Alphabetically</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                </select>
            </div>
        </section>
    </div>
</div>