{% extends "base.html" %}
{% load static %}
{% block content %}

{% include 'brand-categories.html' %}
<div class="flex justify-content-space-evenly align-center margin-top-12 margin-bottom-30 hide-on-desktop">
    <a class="go-back">Back</a>
    <div>
        <button class="filter-button">
            <i class="icon-filter"></i>
            Filter_by
        </button>

        <button class="filter-button">
            <i class="icon-sort"></i>
            Alphabetically
        </button>
    </div>
</div>
<div class="flex filter-container-margin">
    {% include 'brand-filter.html' %}
    <div>
        <div class="flex justify-content-center align-center search-result">
            Search Results/ {{ brands|length }} out of {{ brands|length }}
        </div>
        <div class="flex justify-content-center align-center search-result-big">
            We have curated some brands for you! ({{ brands|length }})
        </div>
        <div class="flex flex-wrap">
            {% for brand in brands %}
                {% include "brand-item.html" with brand=brand %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
