<div class="container-items">
    <a class="container-item {% if category.internal_name == 'clothing' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'clothing' %}">
        <i class="icon-cloth-1"></i>
        <div class="label">
            Clothing
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'footwear' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'footwear' %}">
        <i class="icon-footwear"></i>
        <div class="label">
            Footwear
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'handbags' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'handbags' %}">
        <i class="icon-handbags"></i>
        <div class="label">
            Handbags
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'jewellery' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'jewellery' %}">
        <i class="icon-jewellery"></i>
        <div class="label">
            Jewellery
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'wellness' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'wellness' %}">
        <i class="icon-handbags"></i>
        <div class="label">
            Beauty
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'gifting' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'gifting' %}">
        <i class="icon-gifting"></i>
        <div class="label">
            Gifting
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'food' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'food' %}">
        <i class="icon-health"></i>
        <div class="label">
            Health
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'pets' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'pets' %}">
        <i class="icon-pet"></i>
        <div class="label">
            Pet Supplies
        </div>
    </a>
    <a class="container-item {% if category.internal_name == 'kids' %}container-item-selected{% endif %}" href="{% url 'brand:brand_listing' 'kids' %}">
        <i class="icon-health"></i>
        <div class="label">
            Kids
        </div>
    </a>
</div>
