<div class="container">
    <br><br><br>
    <div class="category">

        <a class="text-decoration-none" href="#">
            <div class="active2">
                <p>
                    <i class="icon-cloth-1" style="font-size: 20px;"></i>&nbsp;
                    Clothing
                </p>
            </div>
        </a>
        <a class="text-decoration-none" href="#">
            <div class="para">
                <p>
                    <i class="icon-footwear" style="font-size: 20px;"></i>&nbsp;
                    Footwear
                </p>
            </div>
        </a>
        <a class="text-decoration-none" href="#">
            <div class="para">
                <p>
                    <i class="icon-handbags" style="font-size: 20px;"></i>&nbsp;
                    Handbags
                </p>
            </div>
        </a>
        <a class="text-decoration-none" href="#">
            <div class="para">
                <p>
                    <i class="icon-jewellery" style="font-size: 20px;"></i>&nbsp;
                    Jewellery
                </p>
            </div>
        </a>
        <a class="text-decoration-none" href="#">
            <div class="para">
                <p>
                    <i class="icon-handbags" style="font-size: 20px;"></i>&nbsp;
                    Beauty
                </p>
            </div>
        </a>
        <a class="text-decoration-none" href="#">
            <div class="para">
                <p>
                    <i class="icon-gifting" style="font-size: 20px;"></i>&nbsp;
                    Gifting
                </p>
            </div>
        </a>
        <a class="text-decoration-none" href="#">
            <div class="para">
                <p>
                    <i class="icon-health" style="font-size: 20px;"></i>&nbsp;
                    Health
                </p>
            </div>
        </a>
        <a class="text-decoration-none" href="#">
            <div class="para">
                <p>
                    <i class="icon-pet" style="font-size: 20px;"></i>&nbsp;
                    Pet Supplies
                </p>
            </div>
        </a>
        <a class="text-decoration-none" href="#">
            <div class="para">
                <p>
                    <i class="icon-health" style="font-size: 20px;"></i>&nbsp;
                    Kids
                </p>
            </div>
        </a>
    </div>
</div>