<div class="container-items">
    <button class="container-item">
        <i class="icon-cloth-1"></i>
        <div class="label">
            Clothing
        </div>
    </button>
    <button class="container-item">
        <i class="icon-footwear"></i>
        <div class="label">
            Footwear
        </div>
    </button>
    <button class="container-item">
        <i class="icon-handbags"></i>
        <div class="label">
            Handbags
        </div>
    </button>
    <button class="container-item">
        <i class="icon-jewellery"></i>
        <div class="label">
            Jewellery
        </div>
    </button>
    <button class="container-item">
        <i class="icon-handbags"></i>
        <div class="label">
            Beauty
        </div>
    </button>
    <button class="container-item">
        <i class="icon-gifting"></i>
        <div class="label">
            Gifting
        </div>
    </button>
    <button class="container-item">
        <i class="icon-health"></i>
        <div class="label">
            Health
        </div>
    </button>
    <button class="container-item">
        <i class="icon-pet"></i>
        <div class="label">
            Pet Supplies
        </div>
    </button>
    <button class="container-item">
        <i class="icon-health"></i>
        <div class="label">
            Kids
        </div>
    </button>
</div>
<div class="category-container">
    <div class="selected-category">
        <i class="icon-cloth-1 font-size-30 hide-on-mobile"></i>
        Clothing
    </div>
    <form class="search-category desktop-width">
        <i class="icon-search"></i>
        <input type="text" id="search-bar-white" placeholder="Search Brands ">
        <a href="#"></a>
    </form>

    <div class="hide-on-mobile">
        <section class="container btn-primary">
            Sort:
            <div class="dropdown">
                <select name="one" class="dropdown-select">
                    <option value="">Alphabetically</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                </select>
            </div>
        </section>
    </div>
</div>