{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-items">
    <button class="container-item">
        <i class="icon-cloth-1"></i>
        <div class="label">
            Clothing
        </div>
    </button>
    <button class="container-item">
        <i class="icon-footwear"></i>
        <div class="label">
            Footwear
        </div>
    </button>
    <button class="container-item">
        <i class="icon-handbags"></i>
        <div class="label">
            Handbags
        </div>
    </button>
    <button class="container-item">
        <i class="icon-jewellery"></i>
        <div class="label">
            Jewellery
        </div>
    </button>
    <button class="container-item">
        <i class="icon-handbags"></i>
        <div class="label">
            Beauty
        </div>
    </button>
    <button class="container-item">
        <i class="icon-gifting"></i>
        <div class="label">
            Gifting
        </div>
    </button>
    <button class="container-item">
        <i class="icon-health"></i>
        <div class="label">
            Health
        </div>
    </button>
    <button class="container-item">
        <i class="icon-pet"></i>
        <div class="label">
            Pet Supplies
        </div>
    </button>
    <button class="container-item">
        <i class="icon-health"></i>
        <div class="label">
            Kids
        </div>
    </button>
</div>
<div class="category-container">
    <div class="selected-category">
        <i class="icon-cloth-1 font-size-30 hide-on-mobile"></i>
        Clothing
    </div>
    <form class="search-category desktop-width">
        <i class="icon-search"></i>
        <input type="text" id="search-bar-white" placeholder="Search Brands ">
        <a href="#"></a>
    </form>

    <div class="hide-on-mobile">
        <section class="container btn-primary">
            Sort:
            <div class="dropdown">
                <select name="one" class="dropdown-select">
                    <option value="">Alphabetically</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                </select>
            </div>
        </section>
    </div>
</div>
<div class="flex justify-content-space-evenly align-center margin-top-12 margin-bottom-30 hide-on-desktop">
    <a class="go-back">Back</a>
    <div>
        <button class="filter-button">
            <i class="icon-filter"></i>
            Filter_by
        </button>

        <button class="filter-button">
            <i class="icon-sort"></i>
            Alphabetically
        </button>
    </div>
</div>
<div class="flex filter-container-margin">
    <div class="container-filters hide-on-mobile">
        <a class="go-back">Back</a>
        <div class="filter-text hide-on-mobile">Filter Brands by <span class="primary margin-left-32">Reset</span></div>
        <button class="filter-tag border-color-unset flex align-center margin-bottom-8">Women<span
                class="margin-left-10" style="color:#E16300">x</span></button>

        <!-- Identity -->

        <div class="margin-right-24">
            <div class="filter-option height-auto margin-bottom-16">
                <div class="flex flex-item">
                    <div class="width-30">
                        <div
                            class="flex justify-content-center align-center filter-picture flex-column width-90 background-grey margin-8">
                            <img class="border-radius-50" src="{% static 'img/men.png' %}" alt="Men">
                            <img class="border-radius-50" src="{% static 'img/women.png' %}" alt="Women">
                        </div>
                    </div>
                    <div class="margin-left-14">
                        <div class="margin-bottom-8">
                            Identity <br />
                        </div>
                        <div class="flex flex-column">
                            <div class="flex">
                                <input type="radio" id="option1" name="options" value="option1">
                                <label for="option1">Men</label> <br />
                            </div>

                            <div class="flex">
                                <input type="radio" id="option2" name="options" value="option2">
                                <label for="option2">Women</label><br />
                            </div>

                            <div class="flex">
                                <input type="radio" id="option1" name="options" value="option1">
                                <label for="option1">Other</label><br />
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Location -->

            <div class="filter-option height-auto margin-bottom-16">
                <div class="flex flex-item">
                    <div class="filter-picture width-40 flex">
                        <img src="{% static 'img/india-1.png' %}" alt="India-1">
                        <img src="{% static 'img/india-2.png' %}" alt="India-2">
                    </div>
                    <div>
                        Location <br />

                        <div class="flex">
                            <input type="radio" id="option1" name="options" value="option1">
                            <label for="option1">India</label> <br />
                        </div>

                        <div class="flex">
                            <input type="radio" id="option2" name="options" value="option2">
                            <label for="option2">International</label><br />
                        </div>

                    </div>
                </div>
            </div>


            <!-- Price range -->
            <div class="filter-option height-auto margin-bottom-16">
                <div class="flex flex-item">
                    <div class="width-30">
                        <div class="flex flex-column filter-picture flex justify-content-center align-center filter-picture flex-column width-90 background-grey margin-8">
                            <img class="contrast-image" src="{% static 'img/price-1.png' %}" alt="price_1">
                            <img class="contrast-image" src="{% static 'img/price-2.png' %}" alt="price_2">
                            <img class="contrast-image" src="{% static 'img/price-3.png' %}" alt="price_3">
                        </div>
                    </div>
                    <div class="margin-left-14">
                        <div class="margin-bottom-8">
                            Price Range <br />
                        </div>
                        <label>
                            <input type="checkbox" name="price" value="0-50">
                            $0 - $50
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" name="price" value="51-100">
                            $51 - $100
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" name="price" value="101-200">
                            $101 - $200
                        </label>
                    </div>
                </div>
            </div>

            <!-- Occasion -->
            <div class="filter-option height-auto margin-bottom-16">
                <div class="flex flex-item">
                    <div class="width-30">
                        <div class="flex flex-column filter-picture flex justify-content-center align-center filter-picture flex-column width-90 background-grey margin-8">
                            <img src="{% static 'img/occasion.png' %}" alt="occasion">
                        </div>

                    </div>
                    <div class="margin-left-14">
                        <div class="margin-bottom-8">
                            Occasion <br />
                        </div>
                        <label>
                            <input type="checkbox" name="occasion" value="casual">
                            Casual
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" name="occasion" value="party">
                            Party
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" name="occasion" value="festival">
                            Festival
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" name="occasion" value="wedding">
                            Wedding
                        </label>
                    </div>
                </div>
            </div>


            <!-- Design -->
            <div class="filter-option height-auto margin-bottom-16">
                <div class="flex flex-item margin-top-8">
                    <div>
                        <div class="margin-bottom-8">
                            <i class="icon-design margin-right-10 margin-left-10"></i>
                            Design <br />
                        </div>
                        <div class="margin-right-10 margin-left-14 margin-bottom-12">
                            <label>
                                <input type="checkbox" name="occasion" value="casual">
                                Casual
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="occasion" value="party">
                                Party
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="occasion" value="festival">
                                Festival
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="occasion" value="wedding">
                                Wedding
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Material -->
            <div class="filter-option height-auto margin-bottom-16">
                <div class="flex flex-item margin-top-8">
                    <div>
                        <div class="margin-bottom-8">
                            <i class="icon-material margin-right-10 margin-left-10"></i>
                            Material <br />
                        </div>
                        <div class="margin-right-10 margin-left-14 margin-bottom-12">
                            <label>
                                <input type="checkbox" name="material" value="cotton">
                                Cotton
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="material" value="synthetic">
                                Synthetic
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="material" value="raw silk">
                                Raw Silk
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="material" value="party">
                                Party
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Type -->
            <div class="filter-option height-auto margin-bottom-16">
                <div class="flex flex-item margin-top-8">
                    <div>
                        <div class="margin-bottom-8">
                            <i class="icon-type margin-right-10 margin-left-10"></i>
                            Type <br />
                        </div>
                        <div class="margin-right-10 margin-left-14 margin-bottom-12">
                            <label>
                                <input type="checkbox" name="type" value="tops">
                                Tops
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="type" value="bottoms">
                                Bottoms
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="type" value="inner wear">
                                Inner Wear
                            </label>
                            <br>
                            <label>
                                <input type="checkbox" name="type" value="jackets">
                                Jackets
                            </label>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div>
        <div class="flex justify-content-center align-center search-result">
            Search Results/ 24 out of 100
        </div>
        <div class="flex justify-content-center align-center search-result-big">
            We have curated some brands for you! (24)
        </div>
        <div class="flex flex-wrap">
            <!-- Item 1 -->
            <div class="brands-container">
                <div class="brand-img">
                    <img src="{% static 'assets/allen_solly.png' %}" alt="Allen Solly">
                </div>
                <div class="brand-container">
                    <div class="brand-name">
                        <i class="icon-brand-tag"></i>
                        Allen Solly
                    </div>
                    <div class="highlights margin-top-15">
                        <div class="flex">
                            <div class="brand-star flex-1 margin-right-8">
                                <div class="rating">4</div>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-empty"></i>
                            </div>
                            <div class="brand-views flex-1 margin-right-8"><span class="roboto weight-700"
                                    style="color:#FF7000">101K</span><span class="roboto weight-700"
                                    style="color: #034121;"> Views</span></div>
                            <div class="brand-india flex-1 margin-right-8 flex justify-content-center align-center"><span class="roboto weight-700 margin-right-2"
                                    style="color:#E16300">Made</span><span class="roboto weight-700 margin-right-2"
                                    style="color:#224DDC">
                                    in</span><span class="roboto weight-700" style="color:#01753A"> India</span></div>
                        </div>
                    </div>
                    <p class="brand-para ">We bring brand details that helps you make wise decisions, bring brand
                        details.
                    </p>
                    <!-- brand tags -->
                    <div>
                        <div class="flex flex-wrap margin-bottom-16">

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-sustain sustainable"></i>
                                    <span class="sustainable">Sustainable</span>
                                </div>
                            </div>

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-attractive-1 handcrafted margin-right-10"></i>
                                    <span class="handcrafted">Handcrafted</span>
                                </div>
                            </div>


                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-attractive-1 reasonable margin-right-10"></i>
                                    <span class="reasonable">Reasonable</span>
                                </div>
                            </div>

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-plus-size plus-size margin-right-10"></i>
                                    <span class="plus-size">Plus Size Available</span>
                                </div>
                            </div>

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-attractive-1 customisable margin-right-10"></i>
                                    <span class="customisable">Customisable</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="brand-btn">
                        <div class="brand-text">View More Details</div>
                    </button>
                </div>
            </div>
            <!-- Item - 2 -->
            <div class="brands-container">
                <div class="brand-img">
                    <img src="{% static 'assets/allen_solly.png' %}" alt="Allen Solly">
                </div>
                <div class="brand-container">
                    <div class="brand-name">
                        <i class="icon-brand-tag"></i>
                        Allen Solly
                    </div>
                    <div class="highlights margin-top-15">
                        <div class="flex">
                            <div class="brand-star flex-1 margin-right-8">
                                <div class="rating">4</div>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-empty"></i>
                            </div>
                            <div class="brand-views flex-1 margin-right-8"><span class="roboto weight-700"
                                style="color:#FF7000">101K</span><span class="roboto weight-700"
                                style="color: #034121;"> Views</span></div>
                        <div class="brand-india flex-1 margin-right-8 flex justify-content-center align-center"><span class="roboto weight-700 margin-right-2"
                                style="color:#E16300">Made</span><span class="roboto weight-700 margin-right-2"
                                style="color:#224DDC">
                                in</span><span class="roboto weight-700" style="color:#01753A"> India</span></div>
                        </div>
                    </div>
                    <p class="brand-para ">We bring brand details that helps you make wise decisions, bring brand
                        details.
                    </p>
                    <!-- brand tags -->
                    <div>
                        <div class="flex flex-wrap margin-bottom-16">

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-sustain sustainable"></i>
                                    <span class="sustainable">Sustainable</span>
                                </div>
                            </div>

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-attractive-1 handcrafted margin-right-10"></i>
                                    <span class="handcrafted">Handcrafted</span>
                                </div>
                            </div>


                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-attractive-1 reasonable margin-right-10"></i>
                                    <span class="reasonable">Reasonable</span>
                                </div>
                            </div>

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-plus-size plus-size margin-right-10"></i>
                                    <span class="plus-size">Plus Size Available</span>
                                </div>
                            </div>

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-attractive-1 customisable margin-right-10"></i>
                                    <span class="customisable">Customisable</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="brand-btn">
                        <div class="brand-text">View More Details</div>
                    </button>

                </div>
            </div>

            <!-- Item 3 -->
            <div class="brands-container">
                <div class="brand-img">
                    <img src="{% static 'assets/allen_solly.png' %}" alt="Allen Solly">
                </div>
                <div class="brand-container">
                    <div class="brand-name">
                        <i class="icon-brand-tag"></i>
                        Allen Solly
                    </div>
                    <div class="highlights margin-top-15">
                        <div class="flex">
                            <div class="brand-star flex-1 margin-right-8">
                                <div class="rating">4</div>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-empty"></i>
                            </div>
                            <div class="brand-views flex-1 margin-right-8"><span class="roboto weight-700"
                                style="color:#FF7000">101K</span><span class="roboto weight-700"
                                style="color: #034121;"> Views</span></div>
                        <div class="brand-india flex-1 margin-right-8 flex justify-content-center align-center"><span class="roboto weight-700 margin-right-2"
                                style="color:#E16300">Made</span><span class="roboto weight-700 margin-right-2"
                                style="color:#224DDC">
                                in</span><span class="roboto weight-700" style="color:#01753A"> India</span></div>
                        </div>
                    </div>
                    <p class="brand-para">We bring brand details that helps you make wise decisions, bring brand
                        details.
                    </p>

                    <!-- brand tags -->
                    <div>
                        <div class="flex flex-wrap margin-bottom-16">

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-sustain sustainable"></i>
                                    <span class="sustainable">Sustainable</span>
                                </div>
                            </div>

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-attractive-1 handcrafted margin-right-10"></i>
                                    <span class="handcrafted">Handcrafted</span>
                                </div>
                            </div>


                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-attractive-1 reasonable margin-right-10"></i>
                                    <span class="reasonable">Reasonable</span>
                                </div>
                            </div>

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-plus-size plus-size margin-right-10"></i>
                                    <span class="plus-size">Plus Size Available</span>
                                </div>
                            </div>

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-attractive-1 customisable margin-right-10"></i>
                                    <span class="customisable">Customisable</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="brand-btn">
                        <div class="brand-text">View More Details</div>
                    </button>


                </div>
            </div>

            <!-- Item 4 -->
            <div class="brands-container">
                <div class="brand-img">
                    <img src="{% static 'assets/allen_solly.png' %}" alt="Allen Solly">
                </div>
                <div class="brand-container">
                    <div class="brand-name">
                        <i class="icon-brand-tag"></i>
                        Allen Solly
                    </div>
                    <div class="highlights margin-top-15">
                        <div class="flex">
                            <div class="brand-star flex-1 margin-right-8">
                                <div class="rating">4</div>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star-empty"></i>
                            </div>
                            <div class="brand-views flex-1 margin-right-8"><span class="roboto weight-700"
                                style="color:#FF7000">101K</span><span class="roboto weight-700"
                                style="color: #034121;"> Views</span></div>
                        <div class="brand-india flex-1 margin-right-8 flex justify-content-center align-center"><span class="roboto weight-700 margin-right-2"
                                style="color:#E16300">Made</span><span class="roboto weight-700 margin-right-2"
                                style="color:#224DDC">
                                in</span><span class="roboto weight-700" style="color:#01753A"> India</span></div>
                        </div>
                    </div>
                    <p class="brand-para ">We bring brand details that helps you make wise decisions, bring brand
                        details.
                    </p>
                    <!-- brand tags -->
                    <div>
                        <div class="flex flex-wrap margin-bottom-16">

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-sustain sustainable"></i>
                                    <span class="sustainable">Sustainable</span>
                                </div>
                            </div>

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-attractive-1 handcrafted margin-right-10"></i>
                                    <span class="handcrafted">Handcrafted</span>
                                </div>
                            </div>


                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-attractive-1 reasonable margin-right-10"></i>
                                    <span class="reasonable">Reasonable</span>
                                </div>
                            </div>

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-plus-size plus-size margin-right-10"></i>
                                    <span class="plus-size">Plus Size Available</span>
                                </div>
                            </div>

                            <div class="tag-item">
                                <div class="flex align-center brand-views width-max-content">
                                    <i class="icon-attractive-1 customisable margin-right-10"></i>
                                    <span class="customisable">Customisable</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="brand-btn">
                        <div class="brand-text">View More Details</div>
                    </button>

                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}
