
.icon-vector:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e827'; } /* '' */
.icon-cloth:before { content: '\e828'; } /* '' */
.icon-footwear:before { content: '\e829'; } /* '' */
.icon-handbags:before { content: '\e82a'; } /* '' */
.icon-jewellery:before { content: '\e82b'; } /* '' */
.icon-gifting:before { content: '\e82c'; } /* '' */
.icon-home:before { content: '\e82d'; } /* '' */
.icon-cloth-1:before { content: '\e82e'; } /* '' */
.icon-health:before { content: '\e830'; } /* '' */
.icon-pet:before { content: '\e831'; } /* '' */
.icon-sustain:before { content: '\e832'; } /* '' */
.icon-plus-size:before { content: '\e833'; } /* '' */
.icon-frame:before { content: '\e836'; } /* '' */
.icon-attractive-1:before { content: '\e837'; } /* '' */
.icon-brand-tag:before { content: '\e838'; } /* '' */
.icon-vector-1:before { content: '\e83c'; } /* '' */
.icon-vector-(1):before { content: '\e83d'; } /* '' */
.icon-vector-(1)-1:before { content: '\e83e'; } /* '' */
.icon-vector-(3):before { content: '\e83f'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
