:root {
    --color-default: #635E5E;
    --color-primary: #14484B;
    --color-secondary: #E16300;
    --color-white: #fff;
    --color-text-primary: #222222;
    /* --color-text-active: #0d6efd; */
    --color-text-active: #0099ff;
}

/* upper section  */
.top-header {
    background: #E16300;
    color: white;
    width: 100%;
    /* padding: 3px 0px; */
    /* padding-top: 1px;
    padding-bottom: 1px; */
}

.brand {
    font-family: Noto Serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
}

.link {
    font-family: Noto Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 28px; */
    line-height: 44px;
}

.right {
    text-align: end;
    align-items: end;
    /* padding-right: 50px; */
}

/* top section  */
.result {
    color: #14484B;
}

.not-recommend-btn {
    stroke-width: 2px;
    stroke: #0F212A;
    /* filter: drop-shadow(7px 20px 8px rgba(31, 52, 254, 0.00)); */
    color: #0F212A;
    border: 2px solid #0F212A;
    border-radius: 20px;
}

.not-recommend-btn:hover {
    stroke-width: 2px;
    stroke: #0F212A;
    /* filter: drop-shadow(7px 20px 8px rgba(31, 52, 254, 0.00)); */
    color: #216b91;
    border: 2px solid #0F212A;
    border-radius: 20px;
    background: rgb(243, 235, 235);
}

.recommend-btn {
    stroke-width: 2px;
    stroke: #0F212A;
    /* filter: drop-shadow(7px 20px 8px rgba(31, 52, 254, 0.00)); */
    color: #F57C1D;
    border: 2px solid #F57C1D;
    border-radius: 20px;

}

.recommend-btn:hover {
    stroke-width: 2px;
    stroke: #0F212A;
    /* filter: drop-shadow(7px 20px 8px rgba(31, 52, 254, 0.00)); */
    color: #F57C1D;
    border: 2px solid #F57C1D;
    border-radius: 20px;
    background: rgb(243, 235, 235);

}

.red-btn {
    color: white;
    background: #E16300;
    width: 100%;
    border: 1px solid #F57C1D;
    border-radius: 20px;
}

.red-btn:hover {
    color: white;
    /* background: #E16300; */
    background: rgb(238, 19, 19);
    width: 100%;
    border: 1px solid #F57C1D;
    border-radius: 20px;
}

/* top right  */
.dash-border {
    border-radius: 20px;
    border: 1px dashed #0F212A;
    padding: 20px;
    color: var(--color-primary);
}

.border-sub {
    border-radius: 20px;
    border-top: 3px solid #5A7989;
    /* background: #FFF; */
}

.summary {
    border-radius: 20px;
    background: #FFF0E4;
    padding: 10px;
}

/* ========================================================= */
/* sustaiability */
.sustainability .header {
    color: #0F212A;
    font-family: Noto Serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    /* 135.714% */
}

.sustainability .para {
    color: #635E5E;
    /* Paragraph */
    font-family: Switzer;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 32px; */
    /* 160% */
}

.sustainability .banner {
    border-radius: 20px;
    background: #FFF0E4;
    height: 250px;
}

/* ========================================================= */
/* founder */
.founder .header {
    color: #163626;
    font-family: Noto Serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

/* .founder .border-style {
    border-radius: 20px;
    border: 1px solid #E16300;
    background: #FFF0E4;
} */

.founder .name {
    color: #163626;
    font-family: Noto Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    /* 183.333% */
}

.founder .title {
    color: #163626;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}

.founder .para {
    color: #635E5E;

    /* Paragraph Small */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 150% */
}


/* ======================================= */
/* Review */
.review {
    color: #163626;
}

.review .header {
    /* H3 */
    font-family: Noto Serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    /* 137.5% */
}

.review .header-small {

    /* H3 */
    font-family: Noto Serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 137.5% */
}

.review .label-name {
    color: #0F212A;

    /* Paragraph Small */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.review .icon {
    position: absolute;
    padding: 10px;
    /* display: flex;
    justify-content: space-around; */
}

.review .icon2 {
    position: absolute;
    padding-left: 300px;

}

.review input[type=text] {
    /* fill: #FFF;
    stroke-width: 1px;
    stroke: #0F212A;
    filter: drop-shadow(7px 20px 8px rgba(31, 52, 254, 0.00)); */
    border-color: #0F212A;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 20px 20px 0px;
    padding: 10px 40px;
    width: 100%;
}

.review textarea {
    /* fill: #FFF;
    stroke-width: 1px;
    stroke: #0F212A;
    filter: drop-shadow(7px 20px 8px rgba(31, 52, 254, 0.00)); */
    border-color: #0F212A;
    border-style: solid;
    border-width: 1px;
    /* border-radius: 0px 20px 20px 0px; */
    padding: 10px 40px;
    width: 100%;
}

.ratings-btn {
    stroke-width: 2px;
    stroke: #0F212A;
    color: #0F212A;
    border: 2px solid #0F212A;
    border-radius: 20px;
    background: white;
    padding: 5px 10px;

}

.ratings-btn:hover {
    stroke-width: 2px;
    stroke: #0F212A;
    /* filter: drop-shadow(7px 20px 8px rgba(31, 52, 254, 0.00)); */
    color: #216b91;
    border: 2px solid #0F212A;
    border-radius: 20px;
    background: rgb(243, 235, 235);
}

.review hr {
    margin-top: 30px;
    /* padding: 20px; */
}

/* more ============================================== */
.more {
    color: #163626;
}

.more .header {
    /* color: #163626; */

    /* H2 */
    font-family: Noto Serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    /* 145.455% */
}

.more .para {
    font-family: Libre Baskerville;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 160% */
}

.more .title {
    /* color: #0F212A; */

    /* H3 */
    font-family: Noto Serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 137.5% */
}

.more .explore-btn {
    opacity: 0;
}

.more .card-custom:hover {
    box-shadow: 5px 5px 2px rgb(250, 215, 215);
}

.more .card-custom:hover .explore-btn {
    opacity: 1;
}

/* More reviews =================================================================== */
.more-reviews {
    color: #163626;
}

.more-reviews .header {
    /* H2 */
    font-family: Noto Serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    /* 145.455% */
}

.more-reviews .para {
    /* Paragraph */
    font-family: Switzer;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 160% */
}

.more-reviews .border-custom2 {
    border-radius: 20px;
    border: 1px solid rgba(22, 54, 38, 0.50);
    padding: 40px;
}

.more-reviews .person-name {
    /* text-align: center; */

    /* Paragraph Big */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    /* 140% */
}

.more-reviews .title {
    /* H3 */
    font-family: Noto Serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 137.5% */
}

.more-reviews .desc {
    color: #635E5E;

    /* Paragraph Big */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 140% */
}

.more-reviews .reaction {
    color: #1C1C1C;

    /* Paragraph */
    font-family: Switzer;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 160% */
}

.more-reviews .btn-done {
    background: #F57C1D;
    border-radius: 20px;
    color: white;
}

.more-reviews .next-btn {
    border-radius: 25px;
    border: 1px solid #F57C1D;
    background: white;
    color: #F57C1D;
    padding: 5px 20px;
}

/* ======================================================== */
/* adds  */
.adds {
    min-height: 200px;
    background: #FEF2E8;
}

/* =============================================================== */
/* brand cover  */
.brand-cover {
    background: #FFECDE;
    padding: 50px;
}

.brand-cover img {
    max-height: 600px;
    max-width: 100%;
}

.brand-cover .right-sec {
    margin-top: 40px;
}

.brand-cover .for-brand {
    border-radius: 35px;
    background: #096C9D;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    /* 140% */
    padding: 5px 20px;
}

.brand-cover .title {
    color: #1A2B2D;

    /* H1 */
    font-family: Noto Serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    /* 125% */
}

.brand-cover .desc {
    color: #2E494B;

    /* Paragraph/Big */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 140% */
}

.brand-cover .one-minute {
    color: #2E494B;

    /* Paragraph Small */
    font-family: Switzer;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

/* under-cover ================ */
.under-cover p {
    color: #E16300;

    /* H4 */
    font-family: Noto Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 114.286% */
}

/* blog ==================================================================== */
.blog {
    color: #163626;
}

.blog .header {
    /* color: #163626; */
    text-align: center;

    /* H1 */
    font-family: Noto Serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    /* 125% */
}

.blog .sub-header {
    /* color: #163626; */
    text-align: center;

    /* Paragraph/Big */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    /* 140% */
}

.blog .title {
    /* color: #163626; */
    font-family: Noto Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 133.333% */
}

.blog .read-btn {
    /* color: white; */
    background: white;
    /* width: 100%; */
    border: 1px solid #0F212A;
    border-radius: 20px;
    padding: 10px 20px;

}

.blog .header-right {
    /* color: #163626; */

    /* H3 */
    font-family: Noto Serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 137.5% */
}

.blog .para-right {
    /* color: #163626; */

    /* Paragraph/Big */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 140% */
}

.blog .right-input {
    border: 1px solid #163626;
    border-radius: 20px;
    padding: 10px 20px;
}