.category{
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    margin-top: -100px;
}
.category .para{
    border-radius: 10px;
    border: 1px solid #5A7989;
    width: fit-content;
    text-decoration: none;
    padding: 10px 10px 0px 10px;
    margin: 0px 5px;
    color: #5A7989;
    background: #fff;
    font-family: Noto Serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 200% */
}
.category .para:hover{
    color: white;
    background: #5A7989;
}

.category .active2{
    border-radius: 10px;
    border: 1px solid #5A7989;
    width: fit-content;
    text-decoration: none;
    padding: 10px 10px 0px 10px;
    margin: 0px 5px;
    color: white;
    background: #5A7989;
    font-family: Noto Serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 200% */
}

