@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=switzer@600,700,400,300,500&display=swap');



:root {
    --primary-header-color: #0F212A;
}

.container1{
    height: 70%;
    width: 100%;
    flex-direction: column;
}

.container2{
    flex-direction: column;
    margin-top: 66px;
}

.container3{
    flex-direction: column;
}

.beta{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #5A7989;
}

.beta-strip{
    height:44px;
    color:#FFFFFF;
}

button.primary.hello-shoppers {
    height: 40px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

img.logo {
    height: 32px;
    width: 213px;
}

header {
    background-color: var(--primary-header-color);
    padding: 20px;
    display: flex;
    align-items: center;
    height: 72px;
}

.icon-search {
    color: black;
    position: absolute;
    left: 15px;
}

.white {
    color: #FFFFFF;
}

.icon-search {
    position: absolute;
    left: 15px;
}

input#search-bar-white {
    width: 80%;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    height: 44px;
    color: black;
    background: #FFFFFF;
    padding-left: 30px;
    /* Adjust the value to make room for the icon */
}

.go-back {
    margin-left: 5px;
    color: #c16b00;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;

    /**
     * If you set it to a value higher than the 'font-size',
     * you will have to take account of the difference
     * between the 'line-height' and the 'font-size'
     * to vertically centre the arrow and align it with the text.
     **/
    line-height: 1;

    /* Makes some place for the arrow */
    padding-left: 15px;

    /* The arrow will be absolutely positioned */
    position: relative;
}

.go-back::before {
    border-color: #c16b00;
    border-style: solid;
    border-width: 0 0 2px 2px;
    content: "";
    display: block;
    height: 6px;
    left: 0px;
    position: absolute;
    width: 6px;

    /* These two lines vertically centre the point of the arrow */
    margin-top: -3px;
    top: 50%;

    /* The arrow sprints to the left when the link is hovered */
    transition: left 0.1s;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.go-back::after {
    background: #c16b00;
    content: "";
    display: block;
    height: 2px;
    left: 0px;
    position: absolute;
    top: 50%;
    width: 11px;

    /* We need to animate the shaft too, to be able to look at a moving arrow */
    transition: left 0.1s;
}

.go-back:hover::before,
.go-back:hover::after {
    left: -3px;
}

input#search-bar {
    width: 80%;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    height: 44px;
    background: transparent;
    color: #FFFFFF;
    padding-left: 30px;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #FFFFFF;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #FFFFFF;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham4 .top {
    stroke-dasharray: 40 121;
}

.ham4 .bottom {
    stroke-dasharray: 40 121;
}

.ham4.active .top {
    stroke-dashoffset: -68px;
}

.ham4.active .bottom {
    stroke-dashoffset: -68px;
}

.container-items {
    height: 70px;
    background: #FFFFFF;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
}

button.container-item {
    border: none;
    width: 150px;
    height: 40px;
    box-sizing: border-box;
    background: #5A7989;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 15px;
}

button.filter-button {
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #034121;
    border-radius: 30px;
}

.container-item i {
    color: #5A7989;
    ;
}

.label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #5A7989;
}


.category-container {
    width: 100%;
    height: 60px;
    left: 0px;
    top: 142px;
    background: #E16300;
    display: flex;
    align-items: center;
}

.selected-category {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 52px;
    margin-left: 15%;
    color: #FFFFFF;
}

.search-category,
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

#search-bar::-webkit-input-placeholder {
    color: transparent;
}

.section {
    margin-top: 5%;
}

.search-result {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #034121;
}

.search-result-big {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    /* or 129% */

    text-align: center;

    color: #14484B;
    margin-bottom: 30px;
}

.brands-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.brands-container:hover {
    box-shadow: 0px 10px 10px rgba(3, 65, 33, 0.15);
}

.brands-container:hover * {
    opacity: 1;
}


.brand-container {
    display: flex;
    line-height: 32px;
    color: #163626;
    margin-left: 20px;
    flex-direction: column;
}

.brand-name {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.brand-btn {
    opacity: 0;
    border: none;
    background: #F57C1D;
    border-radius: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.brand-para {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0F212A;
    width: 85%;
}

.brand-text {
    font-family: 'Switzer';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 40px;
    color: #FFFFFF;
}

.brand-star,
.brand-views,
.brand-india {
    background: #F3F5F4;
}

.brand-star i::before {
    margin: 0;
    padding: 0;
    width: 0.7em;
}

.rating {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    align-items: center;
    color: #0F212A;
    mix-blend-mode: normal;
}

.brand-img {
    margin-bottom: 24px;
}

.hide-on-mobile {
    display: none;
}

.filter-container-margin {
    margin-top: 0px;
    margin-left: 0px;
}


.brand-flex {
    flex-direction: column;
}

.tag-item {
    margin: 5px;
}


.sustainable {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #01753A;
    mix-blend-mode: normal;
}

.handcrafted {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #224DDC;
    mix-blend-mode: normal;

}

.reasonable {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #01753A;
    mix-blend-mode: normal;
}

.plus-size {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #C51051;
    mix-blend-mode: normal;
}

.customisable {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #034121;
    mix-blend-mode: normal;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {

    .hide-on-desktop {
        display: none;
    }

    header nav ul {
        display: flex;
    }


    header nav ul li {
        display: block;
        margin-right: 16px;
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        white-space: nowrap;
    }

    header nav ul li a {
        display: block;
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        text-transform: capitalize;
        white-space: nowrap;

        color: #FFFFFF;
        text-decoration: none;
    }

    .container-items {
        height: 70px;
        background: #FFFFFF;
        display: flex;
        white-space: nowrap;
        padding: 10px;
        overflow-x: auto;
        justify-content: center;
        align-items: center;
    }

    button.container-item {
        border: none;
        width: 117px;
        height: 46px;
        box-sizing: border-box;
        background: #FFFFFF;
        border-radius: 10px;
        margin: auto;
        display: flex;
        border: 1px solid #5A7989;

        /* justify-content: center;
    align-items: center; */
        margin-right: 12px;
        padding: 15px;
    }


    button.container-item:hover {
        background: #5A7989;
    }

    button.container-item:hover .icon-footwear,
    button.container-item:hover .icon-cloth-1,
    button.container-item:hover .icon-handbags,
    button.container-item:hover .icon-jewellery,
    button.container-item:hover .icon-gifting,
    button.container-item:hover .icon-health,
    button.container-item:hover .icon-pet {
        color: #FFFFFF;
    }

    button.container-item:hover .label {
        color: #FFFFFF;
    }

    .search-container {
        height: 56px;
        width: 695px;
        left: 0px;
        top: 0px;
        border-radius: 30px;
    }

    #search-bar::-webkit-input-placeholder {
        color: #FFFFFF;
    }

    #search-bar {
        margin-right: 72px;
    }

    button.btn-secondary {
        border: 1px solid #FFFFFF;
        border-radius: 30px;
        box-sizing: border-box;
        background: #0F212A;
        color: #FFFFFF;
        white-space: nowrap;
        padding: 15px 7px
    }

    .btn-primary {
        background: #E16300;
        border-radius: 30px;
        box-sizing: border-box;
        color: #FFFFFF;
        white-space: nowrap;
        padding: 15px 7px;
        border-color: #E16300;
    }

    .container-sm {
        height: 25px;
        width: 91px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button.container-item {
        margin-left: 0px;
    }

    .desktop-width {
        width: 691px;
    }

    .desktop-width {
        width: none;
    }

    .hide-on-mobile {
        display: inline-block;
    }


    .container {
        margin: 80px auto;
        width: 400px;
        text-align: center;
    }

    .container>.dropdown {
        vertical-align: middle;
    }

    .dropdown {
        display: inline-block;
        position: relative;
        overflow: hidden;
        height: 28px;
        width: 150px;
        background: #E16300;
        border-color: white #f7f7f7 whitesmoke;
        border-radius: 3px;
        background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
        background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
        background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
        background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
        border: 1px solid #FFFFFF;
        border-radius: 30px;
    }

    .dropdown:before,
    .dropdown:after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 9px;
        right: 10px;
        width: 0;
        height: 0;
        border: 4px dashed;
        border-color: #888888 transparent;
        pointer-events: none;
    }

    .dropdown:before {
        border-bottom-style: solid;
        border-top: none;
    }

    .dropdown:after {
        margin-top: 7px;
        border-top-style: solid;
        border-bottom: none;
    }

    .dropdown-select {
        position: relative;
        width: 130%;
        margin: 0;
        padding: 6px 8px 6px 10px;
        height: 28px;
        line-height: 14px;
        font-size: 12px;
        color: white;
        background: #f2f2f2;
        /* Fallback for IE 8 */
        background: rgba(0, 0, 0, 0) !important;
        /* "transparent" doesn't work with Opera */
        border: 0;
        border-radius: 0;
        -webkit-appearance: none;
    }

    .dropdown-select:focus {
        z-index: 3;
        width: 100%;
        color: #394349;
        outline: 2px solid #49aff2;
        outline: 2px solid -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .dropdown-select>option {
        margin: 3px;
        padding: 6px 8px;
        text-shadow: none;
        background: #f2f2f2;
        border-radius: 3px;
        cursor: pointer;
    }

    /* Fix for IE 8 putting the arrows behind the select element. */

    .lt-ie9 .dropdown {
        z-index: 1;
    }

    .lt-ie9 .dropdown-select {
        z-index: -1;
    }

    .lt-ie9 .dropdown-select:focus {
        z-index: 3;
    }

    .go-back {
        color: #0F212A;
    }

    .go-back::before {
        border-color: #0F212A;
    }

    .go-back::after {
        background: #0F212A;
    }

    .container-filters {
        width: 25%;
    }

    .container-filter {
        width: 90%;
    }

    .contrast-image {
        filter: contrast(80%);
        /* Adjust the value to increase or decrease contrast */
    }

    .filter-text {
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #0F212A;
    }

    .primary {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        /* Remove the above */
        font-size: 18px;
        line-height: 32px;
        color: #FF7000;
    }

    .filter-tag {
        background: #F3F5F4;
        border-radius: 4px;
        height: 22px;
        width: 76px;
        padding: 3px 5px;
    }

    .filter-option {
        box-sizing: border-box;

        width: 275px;
        left: 74px;
        top: 459px;

        background: rgba(242, 245, 244, 0.25);
        border: 1px solid #0F212A;
        border-radius: 5px;
    }

    .filter-container-margin {
        margin: 66px 30px 100px;
    }

    .search-result {
        justify-content: start;
    }

    .search-result-big {
        justify-content: start;
        margin-bottom: 60px;

    }

    .brand-flex {
        flex-direction: row;
    }

    .brands-container {
        width: 33%;
    }

    .container1, .container2, .container3{
        flex-direction: row;
    }

}

/* Larger than Desktop HD */
@media (min-width: 1920px) {
    .brands-container {
        width: 25%;
    }
}
