.container {
    text-align: left;
}
.color-red {
    color: var(--color-secondary);
}

.font-14 {
    font-family: Roboto;
    font-size: 14px;
}

.font-20 {
    font-size: 20px;
}

.font-16 {
    font-family: Noto Serif;
    font-size: 16px;
}

.font-28 {
    font-family: Noto Serif;
    font-size: 23px;
}

.font-40 {
    font-family: Noto Serif;
    font-size: 40px;
}

.border-style {
    border-radius: 20px;
    border: 1px solid #E16300;
    background: #FFF0E4;
    padding: 25px;
}